:root {
  --bg-color: #000;
  --main-text-color: #FFF;
  --main-brand-color: #e50914;
  font-size: 16px;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.main-bg {
  background-color: black;
  background-color: rgb(0, 0, 0);
  background-color: var(--bg-color);
  color: white;
  color: rgb(255, 255, 255);
  color: #ffffff;
  color: #FFF;
  color: var(--main-text-color);
}

* {
  box-sizing: border-box;
}

@media print {
  body .header {
    display: none;
  }
  p {
    color: red;
  }
}
/*
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF;
    --main-text-color: #000;
  }
}
*/