.btn {
  color: var(--main-text-color);
  background-color: var(--main-brand-color);
  padding: 0.8rem;
  display: inline-block;
  border-radius: 5px;
}

.hidden {
  display: none;
  /*visibility: hidden;*/
}
