.header {
  /* position: fixed;*/
  background-color: var(--bg-color);
  z-index: 10;
  /*
  left: 0;
  right: 0;
  */
  position: sticky;
  top: 0;
  display: flex;
  padding: 0.8rem;
  justify-content: space-between;
  align-items: center;
}

.header .header__image {
  width: 150px;
  max-width: 150px;
}

.header .header__image img {
  width: 100%;
}

.header .header__nav .header__nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

.header__nav__list .header__nav__list__item a {
  text-decoration: none;
}
