.header {
  /* position: fixed;*/
  background-color: var(--bg-color);
  z-index: 10;
  /*
  left: 0;
  right: 0;
  */
  position: sticky;
  top: 0;
}

.header .header__image {
  width: 150px;
  max-width: 150px;
}

.header .header__image img {
  width: 100%;
}

.header .header__nav .header__nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__nav__list .header__nav__list__item a {
  text-decoration: none;
}

.btn {
  color: var(--main-text-color);
  background-color: var(--main-brand-color);
  padding: 0.8rem;
  display: inline-block;
  border-radius: 5px;
}

.hidden {
  display: none;
  /* visibility: hidden; */
}
