.info {
  width: 90%;
  margin: 0 auto;
  max-width: 768px;
}

.info .info__video {
  position: relative;
}

.info img, .info video {
  width: 100%;
}

.info .info__video video {
  position: absolute;
  top: 30px;
  left: 95px;
  width: 213px;
}

.info .info__video img {
  z-index: 2;
  position: relative;
  max-width: 382px;
}

@media (hover: hover) {
  .info .info__text h2:hover {
    color: yellow;
  }
}

@media (width < 425px) {
  .info .info__video {
    display: flex;
    justify-content: center;
  }

  .info .info__video video {
    left: auto;
    width: 65%;
  }
}

@media (width > 768px) {
  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .info .info__video video {
    left: 50px;
    width: 205px;
  }
}
