.shows {
  width: 90%;
  margin: 0 auto;
  max-width: 1220px;
}

.shows__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.shows__list figure {
  margin: 0;
}

.shows__list img {
  width: 100%;
}

@media (width > 768px) {
  .shows__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
